[package]
name = "bank-accounting"
version = "0.1.0"
edition = "2021"
readme = "README.md"
publish = false

[dependencies]
anyhow = "1.0.51"
async-trait = "0.1.52"
eventually = { path = "../../eventually", features = ["serde-prost", "tracing"] }
eventually-macros = { path = "../../eventually-macros" }
eventually-postgres = { path = "../../eventually-postgres" }
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-jaeger = { version = "0.17.0", features = ["rt-tokio"] }
prost = "0.11.0"
rust_decimal = "1.18.0"
sqlx = { version = "0.6.2", features = [ "runtime-tokio-rustls" , "postgres" ] }
thiserror = "1.0.30"
tokio = { version = "1.13.0", features = ["macros", "rt-multi-thread"] }
tonic = { version = "0.8.1", features = ["gzip", "transport"] }
tonic-health = "0.8.0"
tonic-reflection = "0.6.0"
tower = "0.4.11"
tower-http = { version = "0.3.4", features = ["trace"] }
tracing = "0.1.29"
tracing-opentelemetry = "0.18.0"
tracing-subscriber = { version = "0.3.3", features = ["fmt", "std", "registry", "env-filter"] }

[dev-dependencies]

[build-dependencies]
tonic-build = { version = "0.8.0", features = ["prost"] }
