[package]
name = "eventually"
description = "Crate for using Event Sourcing in Rust applications"
version = "0.4.0"
edition = "2018"
authors = ["Danilo Cianfrone <danilocianfr@gmail.com>"]
license = "MIT"
readme = "../README.md"
repository = "https://github.com/eventually-rs/eventually-rs"

categories = ["rust-patterns", "web-programming", "asynchronous", "data-structures"]
keywords = ["architecture", "ddd", "event-sourcing", "cqrs", "es"]

[features]
default = []
full = ["serde", "tracing"]

[dependencies]
anyhow = "1.0.44"
async-trait = "0.1.51"
futures = "0.3.17"
parking_lot = "0.11.2"
serde = { version = "1.0.130", optional = true, features = ["derive"] }
thiserror = "1.0.29"
tokio = { version = "1.3.0", features = ["rt", "sync"] }
tokio-stream = { version = "0.1.4", features = ["sync"] }
tracing = { version = "0.1.29", optional = true }

[dev-dependencies]
async-trait = "0.1.51"
futures = { version = "0.3", features = ["async-await"] }
tokio = { version = "1.3.0", features = ["macros"] }
tokio-test = "0.4.2"
