[package]
name = "eventually-postgres"
description = "Event Store implementation using PostgreSQL for the Eventually crate"
version = "0.4.0"
edition = "2021"
authors = ["Danilo Cianfrone <danilocianfr@gmail.com>"]
license = "MIT"
readme = "../README.md"
repository = "https://github.com/get-eventually/eventually-rs"

categories = ["web-programming", "asynchronous"]
keywords = ["postgres", "postgresql", "database", "ddd", "event-sourcing"]

[features]
default = []
with-tracing = ["tracing", "tracing-futures"]
full = ["with-tracing"]

[dependencies]
eventually = { git = "https://github.com/get-eventually/eventually-rs", rev = "ab8c85d", features = ["serde"] }

futures = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio-postgres = { version = "0.7.0", features = ["with-serde_json-1"] }
thiserror = "1.0"
refinery = { version = "0.8.1", features = ["tokio-postgres"] }
anyhow = "1.0.32"
tokio = { version = "1.3.0", features = ["sync"] }
tracing = { version = "0.1", optional = true }
tracing-futures = { version = "0.2", optional = true }
bb8 = { version = "0.8.0" }
bb8-postgres = { version = "0.7.0", features = ["with-serde_json-1"] }
tokio-stream = { version = "0.1.4", features = ["sync"] }
async-trait = "0.1.51"

[dev-dependencies]
testcontainers = "0.12"
tokio = { version = "1.3.0", features = ["macros"] }
