[package]
name = "eventually-postgres"
description = "Event Store implementation using PostgreSQL for the Eventually crate"
version = "0.3.0"
edition = "2018"
authors = ["Danilo Cianfrone <danilocianfr@gmail.com>"]
license = "MIT"
readme = "../README.md"
repository = "https://github.com/eventually-rs/eventually-rs"

categories = ["web-programming", "asynchronous"]
keywords = ["postgres", "postgresql", "database", "ddd", "event-sourcing"]

[features]
default = []
with-tracing = ["tracing", "tracing-futures"]
full = ["with-tracing"]

[dependencies]
eventually-core = { version = "0.4.0", path = "../eventually-core", features = ["serde"] }
eventually-util = { version = "0.4.0", path = "../eventually-util", features = ["serde"] }

futures = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio-postgres = { version = "0.5", features = ["with-serde_json-1"] }
thiserror = "1.0"
refinery = { version = "0.4.0", features = ["tokio-postgres"] }
anyhow = "1.0.32"
tokio = { version = "0.2", features = ["sync", "stream"] }
tracing = { version = "0.1", optional = true }
tracing-futures = { version = "0.2", optional = true }
bb8 = { version = "0.5" }
bb8-postgres = { version = "0.5", features = ["with-serde_json-1"] }

[dev-dependencies]
testcontainers = "0.11"
tokio = { version = "0.2", features = ["sync", "macros"] }
